<div class="center-form">
    <h2>send credentials</h2>
    <form nz-form class="custom-form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your mail">
          <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="enter email">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your password">
          <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="enter password">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary" nzBlock class="w-100" [disabled]="loginForm.invalid">Login</button>
</form>
</div>
