<div style="margin-top:10px">
    <div nz-row>
        <div nz-col nzFlex="2">
          <nz-card nzType="inner" style="margin-top: 16px;" nzTitle="Post a new project">
              <form nz-form [formGroup]="projectForm" (ngSubmit)="submitForm()">
                    <nz-form-item>
                         <nz-form-control nzErrorTip="Please input your project title">
                               <input type="text" nz-input formControlName="name" placeholder="enter you project name">
                        </nz-form-control>
                     </nz-form-item>


                     <nz-form-item>
                         <nz-form-control nzErrorTip="Please input your project duration">
                               <input type="text" nz-input formControlName="duration" placeholder="enter you project duration">
                        </nz-form-control>
                     </nz-form-item>


                     <nz-form-item>
                         <nz-form-control nzErrorTip="Please input your project start date">
                             <nz-date-picker style="width:100%" formControlName="startDate"></nz-date-picker>
                        </nz-form-control>
                     </nz-form-item>


                     <button nz-button nzType="primary" nzBlock class="w-100" [disabled]="projectForm.invalid">Add a new project</button>
              </form>
          </nz-card>
        </div>
        <div nz-col nzFlex="3" style="margin-left: 20px;"></div>
    </div>
</div>
